@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.fade-exit {
  opacity: 0;
  transform: translateX(50px);
}

.fade-exit-active {
  opacity: 1;
  transform: translateX(0%);
}

.fade-enter-active,
.fade-exit-active {
  transition: all 300ms;
}